.icon {
    width: 1.5rem;
}

.card {
    display: flex;
    margin: 0 2rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #C7C7C7;
    color: #31336A;
}

.card:hover {
    cursor: pointer;
    color: #5475CA;
}

.list {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    height: 100px;
}

/* @media screen and (max-width: 480px) {
    .card {
        padding: 1rem 0;
    }

    .list {
        height: auto;
    }

    tbody {
        display: grid;
        justify-items: center;
    }
} */