.icon {
    width: 1.5rem;
}

.card {
    display: flex;
    margin: 0 2rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #C7C7C7;
    color: #31336A;
}

.card:hover {
    cursor: pointer;
    color: #5475CA;
}

.list {
    table-layout: fixed;
    width: 100%;
    /* word-wrap: break-word; */
    height: 80px;
}

.list td {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .card {
        padding: 10px 0;
    }

    .list {
        height: auto;
    }

    .description {
        display: none;
    }

    .title {
        width: 30%;
        text-align: left;
    }

    .tableRow{
        display: flex;
        align-items: center;
    }

    .tableRow > td:nth-child(3) {
        border: 1px solid blue;
        /* order: 2; */
    }
    .tableRow > td:nth-child(4) {
        border: 1px solid green;
        /* order: 1; */
    }

    .tdIcon {
        width: 5%;
    }
}